{% include 'header.html' %}

<div class="container" role="main">
    <div class="page-header">
        <h1>{{ course }}</h1>
        <p><em>{{ quote }}</em></p>
    </div>
    <article>
        <h3>Om</h3>
        <p>I den här kursen lär vi oss att jobba i objektorienterad python.
            Den här sidan fungerar i Flask, och designen utgår från Bootstrap.</p>

        <p>Objektorienterad programmering verkar inte vara odelat omtyckt nu.
        När jag senast höll på med det här (2012 eller så) så var objektorientering
        hur bra som helst. Själv gillar jag det mycket, för det tilltalar mitt
        sinne för ordning. Eller min oförmåga att hantera kaos, förlåt - moduler.</p>

        <p>Flask känns som ett spännande sätt att skriva webbsidor på. Det är som
        skapat för dynamiskt innehåll.</p>
    </article>
</div>

{% include 'footer.html' %}
