{% include 'header.html' %}

<div class="container" role="main">
    <div class="page-header">
        <h1>Objektorienterad Python</h1>
        <p><em>{{ quote }}</em></p>
    </div>
    <article>

    <h3>Hej,</h3>
    <p>Mitt namn är {{ name }}, och jag studerar just nu {{ course }}. Idag är
        jag {{ age }} och funderar över ett karriärbyte. För inte så länge
        sedan såg jag ett anslag i tunnelbanan som löd "Vem skulle anställa
        en 38-årig programmerare?". När jag är klar på {{ school }} kommer
        jag att vara 39 - minst - men det är nära nog.</p>

    <figure class="right">
        <img src="{{ img }}" alt="Olov Wimark">
        <caption>Eder hängivne skribent</caption>
    </figure>

    <p>Efter en tids tvekan har jag nu börjat se vissa fördelar med Python.
        Det går ju faktiskt att skriva läsbar kod om man inte är för kräsen.
        Det jag saknar mest är nog måsvingar. Det kan vara svårt att läsa
        tab-definierade satser. Särskilt när satserna är längre än en
        skärmhöjd.</p>

    </article>
</div>

{% include 'footer.html' %}
