{% include 'header.html' %}

<div class="container" role="main">
    <div class="page-header">
        <h1>Redovisning</h1>
        <p><em>{{ quote }}</em></p>
    </div>
    <article>

    <h3>kmom01</h3>
    <p>Genast så går det lite segt med Python igen. Jag tror liksom att jag
    har koll på läget och plötsligt har jag inte det längre. Så nu får jag
    försöka att komma ikapp. Som vanligt.</p>

    <p>Jag funderade en hel del över hur jag skulle kunna hämta in den här
        redovisningen från en json-fil men har inte hittat något sätt som
        verkar vettigt. Ett tag funderade jag på att importera en xml-fil.</p>

    <h3>Flask</h3>

    <p>Flask var nytt för mig men var en av dessa saker som jag verkligen
        gillar redan vid första anblick. Det förhöjde rent av min upplevelse
        av Python. Jag ser på HTML-koden och inser att måsvingarna utgör
        ett litet fönster in till koden som ligger bakom sidan. Såhär skall
        webbprogrammering fungera. Jag känner lite samma för JavaScript, men
        föredrar alltid när saker och ting sker på serversidan, då jag slipper
        bry mig om vilken webbläsare användaren har.</p>

    <h3>Bootstrap</h3>

    <p>Bootstrap är inte helt nytt för mig, och idén är bra, med det leder till
        rätt uniforma och oinspirerade hemsidor. Jag försökte att använda det
        till ett Wordpress-tema en gång, men det ville inte bli bra.</p>

    <p>Stilen på min nuvarande sida är inte alls jag. Jag skulle behöva sätta
        mig mer in i boot-strap för att kunna göra sidorna snygga. Jag har
        försökt göra något, men skjuter det nu till kommande kursmoment.
        Dessutom finns det tydligen ett tillägg som parsar markdown, och det
        är ju alltid trevligt.</p>

    <h3>Svårigheter</h3>

    <p>De långa strängarna i labben var omständiga att skriva. Jag använder
        i huvudsak Vim, och det är inte roligt att kopiera (Yank) kod från
        en rad till en annan, kanske borde jag göra labbarna i Atom?</p>

    <p>Tråkigt nog tycker jag att det är svårt att få hjälp i gitter-forumet.
        Frågan står där en stund, sen ställer någon annan en annan fråga. Det
        är lite slumpartat om man får svar eller ej. Kanske är jag en del av
        problemet. Jag är inte bra på <em>nettikett</em>. Självklart sitter
        jag och väntar in att en pågående diskussion skall avslutas innan jag
        ställer min fråga, kanske fungerar forum annorlunda med hjälp av
        @mentions?</p>

    <ul>
        <li><strong>Var det några problem med att venv och installera Flask?</strong>
            <p>Nej, för en gångs skull så har jag tagit mig igen en installation
                utan nämnvärda bekymmer. Allt flöt på så fint så.</p>
        </li>
        <li><strong>Är du bekant med objekt och klasser sedan tidigare?</strong>
            <p>Ja, jag har gått kursen OOPHP hos er för ett antal år sedan, och
                sedan dess har jag implementerat objektorientering på alla sidor
                jag hanterat.</p>
        </li>
        <li><strong>Vad är en klass/objekt?</strong>
            <p>En klass är ett beteende som man skapar för att hantera data och
                uppgifter på ett särkilt sätt.</p>
        </li>
        <li><strong>Vad är skillnaden på instans- och statiska attribut/metoder?</strong>
            <p>Instansattribut berör ett definierat objekt i sig själv, medan en
                statisk metod kan nyttjas externt, ungefär som vi nyttjar Pythons
                standardmetoder.</p>
        </li>
        <li><strong>Vilka programmeringsparadigmer känner du till?</strong>
            <p>Strukturerad- och objektorienterad programmering.</p>
        </li>
        <li><strong>Har du någon erfarenhet av Bootstrap sedan tidigare?</strong>
            <p>Nja, jag har använt det i ett Wordpress-tema en gång, men det
                var ju inte så hands on att jag lärde mig något.</p>
        </li>
        <li><strong>Gick det bra att komma i gång med kursmomentet, var det lagom, för litet, för stort?</strong>
            <p>Det gick fint hela vägen, men jag har så svårt att hinna med, det
                händer för mycket i det övriga livet. Jag prioriterar och hoppar
                runt mellan kurser och uppgifter på ett inte helt hälsosamt sätt.</p>
        </li>
        <li><strong>Jag hade en TIL också</strong>
        <p>Jag skriver upp det här kanske mest för min egen skull. Men det är
            klart värt att nämna att klass-variabler inte behöver deklarereras,
            som i andra språk. Om de sätts av <var>__init__</var> så finns de i
            objektet sedan.</p>
        </li>
    </ul>
    </article>

    <article>
        <h3>Kmom02</h3>
        <p>Nu var det när att jag gav upp. Jag har läst lite ostrukturerat på
        sista tiden, och det hann ikapp mig en smula. Ett tag tänkte jag
        "fuck kmom02" och gick bara vidare. Sen insåg jag att kmom02 är rätt
        viktig för uppropet, och att jag skall få gå vidare i kursen.</p>

        <p>Så jag kavlade upp ärmarna och satte igång.</p>

        <p>Jag hittade en mer DRY lösning till frågesporten, men den följde inte
        specen. Man kunde ange både radiobutton och checkbox som multiple_answer
        och låta dem dela på allt. Checkbox och radiobutton skulle då innehålla
        metoden för att rätta frågan och inget annat.</p>

        <p>Ett interface i Python fungerar ungefär som skruvar i någon apparat
        som man handlat. Phillips-huvuden är en inbjudan att öppna apparaten
        just där, kanske för att byta ett batteri? En torx-skruv betyder att här
        kan man öppna, men det ska nog göras av en tekniker. Kanske finns de ett
        kretskort just där.</p>

        <p>Och varför, varför, får jag inte använda ett switch-statement?</p>

        <p>Jag valde att ändra något i html-filerna för frågesporten, för det
        kändes onaturligt att olika element skrevs på olika språk.</p>

        <p>Jag kände mig också tvungen att ta bort autocomplete från
        frågesportens formulär. Så kan vi inte ha det.</p>

    </article>
</div>

{% include 'footer.html' %}
