{% include 'header.html' %}

<div class="container" role="main">
    <div class="page-header">
        <h1>Redovisning</h1>
        <p><em>{{ quote }}</em></p>
    </div>
    <article>

    <h3>kmom01</h3>
    <p>Genast så går det lite segt med Python igen. Jag tror liksom att jag
    har koll på läget och plötsligt har jag inte det längre. Så nu får jag
    försöka att komma ikapp. Som vanligt.</p>

    <p>Stilen är inte alls jag. Jag skulle behöva sätta mig mer in i boot-strap
    för att kunna göra sidorna snygga. Jag har försökt göra något, men skjuter
    det nu till kommande kursmoment.</p>


    <p>Klass-variabler behöver inte deklarereras. Alls. Om de sätts
    av <var>__init__</var> så finns de i objektet sedan.</p>

    </article>
</div>

{% include 'footer.html' %}
